<div class="container">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <h4>Employee Information</h4>
      <div class="input-group-icon" 
           [class.error]="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched"
           [class.valid]="employeeForm.get('firstName')?.valid && employeeForm.get('firstName')?.touched">
        <input type="text" 
               formControlName="firstName" 
               placeholder="First Name"
               (blur)="validateField('firstName')">
        <div class="input-icon">
          <i class="fa fa-user"></i>
        </div>
        <div class="error-message" *ngIf="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched">
          {{ getErrorMessage('firstName') }}
        </div>
      </div>
      <div class="input-group-icon" 
           [class.error]="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched"
           [class.valid]="employeeForm.get('lastName')?.valid && employeeForm.get('lastName')?.touched">
        <input type="text" 
               formControlName="lastName" 
               placeholder="Last Name"
               (blur)="validateField('lastName')">
        <div class="input-icon">
          <i class="fa fa-user"></i>
        </div>
        <div class="error-message" *ngIf="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched">
          {{ getErrorMessage('lastName') }}
        </div>
      </div>
      <div class="input-group-icon" 
           [class.error]="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched"
           [class.valid]="employeeForm.get('email')?.valid && employeeForm.get('email')?.touched">
        <input type="email" 
               formControlName="email" 
               placeholder="Email Address"
               (blur)="validateField('email')">
        <div class="input-icon">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="error-message" *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched">
          {{ getErrorMessage('email') }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-half">
        <h4>Position</h4>
        <div class="input-group-icon" 
             [class.error]="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched"
             [class.valid]="employeeForm.get('position')?.valid && employeeForm.get('position')?.touched">
          <input type="text" 
                 formControlName="position" 
                 placeholder="Job Position"
                 (blur)="validateField('position')">
          <div class="input-icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <div class="error-message" *ngIf="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched">
            {{ getErrorMessage('position') }}
          </div>
        </div>
      </div>
      <div class="col-half">
        <h4>Department</h4>
        <div class="input-group-icon" 
             [class.error]="employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched"
             [class.valid]="employeeForm.get('department')?.valid && employeeForm.get('department')?.touched">
          <input type="text" 
                 formControlName="department" 
                 placeholder="Department"
                 (blur)="validateField('department')">
          <div class="input-icon">
            <i class="fa fa-building"></i>
          </div>
          <div class="error-message" *ngIf="employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched">
            {{ getErrorMessage('department') }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h4>Hire Date</h4>
      <div class="input-group-icon" 
           [class.error]="employeeForm.get('hireDate')?.invalid && employeeForm.get('hireDate')?.touched"
           [class.valid]="employeeForm.get('hireDate')?.valid && employeeForm.get('hireDate')?.touched">
        <input type="date" 
               formControlName="hireDate"
               [max]="maxDate"
               (blur)="validateField('hireDate')">
        <div class="input-icon">
          <i class="fa fa-calendar"></i>
        </div>
        <div class="error-message" *ngIf="employeeForm.get('hireDate')?.invalid && employeeForm.get('hireDate')?.touched">
          {{ getErrorMessage('hireDate') }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group">
        <button type="submit" class="btn-submit" [disabled]="!employeeForm.valid">
          <i class="fa fa-save"></i>
          {{ isEditMode ? 'Update Employee' : 'Add Employee' }}
        </button>
        <button type="button" class="btn-cancel" (click)="onCancel()">
          <i class="fa fa-times"></i>
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
