<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="logo">
      <i class="fas fa-users"></i>
      StaffPro
    </a>
  </div>
  <div class="navbar-menu">
    <a routerLink="/employees" 
       routerLinkActive="active" 
       class="nav-link">
      <i class="fas fa-list"></i>
      Employees
    </a>
    <a routerLink="/employees/new" 
       routerLinkActive="active" 
       class="nav-link">
      <i class="fas fa-user-plus"></i>
      Add Employee
    </a>
  </div>
</nav> 